<div class="relative text-white h-[500px] flex justify-center items-center overflow-hidden">
	<div class="absolute top-0 left-0 bottom-0 right-0 transition-all">
		<app-slider [images]="images" [autoSlide]="true" [controls]="false"></app-slider>
	</div>
	<!-- Welcome Text -->
	<div class="relative z-10 flex w-full bg-gradient-to-r from-[#0000003f] via-[#0000007a] to-[#0000003b]">
		<h1 class="absolute top-[-100px] right-32 max-w-[700px] text-[80px] text-left font-semibold drop-shadow-2xl">Amber Care Pharmaceutical</h1>
	</div>
</div>

<main>
	<!-- Brands -->
	<section class="brands-section -mt-[10px]">
		<p class="flex justify-center items-center text-[22px] font-bold text-[#001A52]">Popular Brands</p>
		<div class="slider flex overflow-x-scroll">
			<div *ngFor="let brand of brands; let i = index" [matTooltip]="brand.name" matTooltipPosition="above" class="brand-item">
				<img [src]="brand.image ?? '/assets/img/banner1.png'" />
			</div>
		</div>
	</section>

	<!-- Quick Product Filter -->
	<section class="grid grid-cols-3 gap-20 w-11/12 mx-auto my-[5rem]">
		<div class="product-filter-card">
			<h1>Hygine</h1>
			<button [routerLink]="['#!']" class="product-button">Show Products ({{ productsOfType.length }})</button>
		</div>
		<div class="product-filter-card">
			<h1>Hygine</h1>
			<button [routerLink]="['#!']" class="product-button">Show Products ({{ productsOfType.length - 40 }})</button>
		</div>
		<div class="product-filter-card">
			<h1>Hygine</h1>
			<button [routerLink]="['#!']" class="product-button">Show Products ({{ productsOfType.length - 57 }})</button>
		</div>
	</section>

	<!-- Promotions -->
	<!-- <app-promotion-section></app-promotion-section> -->

	<!-- Banner -->
	<section class="banner">
		<h1 class="text-center text-white font-bold text-[50px]">
			Become a Member <br />
			and get up to 50% off
		</h1>
		<p class="text-white my-24">As a member you'll get the latest update on our promotions and great deal offers.</p>
		<button class="product-button !px-52">Become A Member</button>
	</section>

	<!-- News Articles -->
	<section class="py-32">
		<h1 class="text-center text-[#001A52] text-[35px] mb-20 font-bold">News Article</h1>
		<div class="grid grid-cols-4 gap-14 w-11/12 mx-auto">
			<div class="news-article bg-white rounded-3xl overflow-clip shadow-lg">
				<img src="/assets/img/thumbsup_doctor.png" alt="" class="w-[375px] h-[220px] rounded-xl object-cover" />
				<div class="article-info py-10 px-8">
					<h1 class="text-[#001A52] text-[20px] font-bold">The Latest Medical Research News</h1>
					<p class="text-[#001A52] my-10">
						This is the second part of the SMM starter pack series of articles. If you made it this far, you must be willing to learn about promoting business through social media.
					</p>
					<div class="grid place-items-center"><button class="product-button !px-16" style="--button-size: 10px">Read More</button></div>
				</div>
			</div>
			<div class="news-article bg-white rounded-3xl overflow-clip shadow-lg">
				<img src="/assets/img/thumbsup_doctor.png" alt="" class="w-[375px] h-[220px] rounded-xl object-cover" />
				<div class="article-info py-10 px-8">
					<h1 class="text-[#001A52] text-[20px] font-bold">The Latest Medical Research News</h1>
					<p class="text-[#001A52] my-10">
						This is the second part of the SMM starter pack series of articles. If you made it this far, you must be willing to learn about promoting business through social media.
					</p>
					<div class="grid place-items-center"><button class="product-button !px-16" style="--button-size: 10px">Read More</button></div>
				</div>
			</div>
			<div class="news-article bg-white rounded-3xl overflow-clip shadow-lg">
				<img src="/assets/img/thumbsup_doctor.png" alt="" class="w-[375px] h-[220px] rounded-xl object-cover" />
				<div class="article-info py-10 px-8">
					<h1 class="text-[#001A52] text-[20px] font-bold">The Latest Medical Research News</h1>
					<p class="text-[#001A52] my-10">
						This is the second part of the SMM starter pack series of articles. If you made it this far, you must be willing to learn about promoting business through social media.
					</p>
					<div class="grid place-items-center"><button class="product-button !px-16" style="--button-size: 10px">Read More</button></div>
				</div>
			</div>
			<div class="news-article bg-white rounded-3xl overflow-clip shadow-lg">
				<img src="/assets/img/thumbsup_doctor.png" alt="" class="w-[375px] h-[220px] rounded-xl object-cover" />
				<div class="article-info py-10 px-8">
					<h1 class="text-[#001A52] text-[20px] font-bold">The Latest Medical Research News</h1>
					<p class="text-[#001A52] my-10">
						This is the second part of the SMM starter pack series of articles. If you made it this far, you must be willing to learn about promoting business through social media.
					</p>
					<div class="grid place-items-center"><button class="product-button !px-16" style="--button-size: 10px">Read More</button></div>
				</div>
			</div>
		</div>
	</section>
</main>
