<section>
	<section>
		<div class="relative w-[100%]">
			<div class="absolute z-10 flex justify-center items-center w-full h-full capitalize">
				<div class="border-b-4 border-b-white w-[60%] m-auto">
					<h1 class="text-white text-center text-[3vw] pb-3 font-['Italiana'] font-bold">Check Out Our Collection of Drugs</h1>
				</div>
			</div>
			<img
				[class]="['w-full', width > height ? 'h-[30vh]' : 'h-[15vh]', 'object-cover', 'brightness-50']"
				src="https://img.freepik.com/free-photo/minimal-medicinal-pills-composition_23-2148892393.jpg?w=2000"
			 />
		</div>
	</section>

	<section>
		<div class="main-container">
			<div class="content">
				<div class="meal-list flex justify-center">
					<mat-tab-group [class]="width <= 1024 ? ['w-[100%]'] : ['w-[90%]']" (selectedTabChange)="tabChangeEventHandler($event)" mat-align-tabs="center" disableRipple="true">
						<mat-tab label="">
							<div
								[class]="
									width <= 1024 && width > height
										? ['grid', 'grid-cols-2', 'gap-16', 'py-[1vw]']
										: width > height && width > 1024
										? ['grid', 'grid-cols-4', 'gap-8', 'py-[1vw]']
										: ['grid', 'grid-cols-1', 'gap-16', 'py-[1vw]']
								">
								<mat-spinner *ngIf="Category.length === 0"></mat-spinner>
								<div *ngFor="let product of Category | slice: Category_currentPage * pageLimit:Category_currentPage * pageLimit + pageLimit">
									<!-- New Card Design Starts -->
									<div class="w-full h-[460px] bg-[#F5F5F5] border flex flex-col shadow-lg">
										<div class="h-[40%] cursor-pointer" [routerLink]="'/details/' + Product.id">
											<img src="{{ Product.image }}" class="w-full h-full object-cover" />
										</div>

										<div class="py-5 pl-8 text-3xl font-bold text-[#5F462B] capitalize">
											{{ Product.name | lowercase }}
										</div>

										<p class="px-8 text-[#5F462B]">
											{{(Product.description)}}
										</p>

										<div class="mt-auto">
											<div class="flex justify-between items-center">
												<p class="text-[#5F462B] font-bold py-1 pl-7">
													{{ Product.price | currency }}
												</p>
												<!-- <span class="rating">
													<app-rating [starsArr]="Product.rating" [id]="Product.id" (click)="startUp()"></app-rating>
												</span> -->
											</div>
											<!-- <div class="flex justify-end">
												<button class="text-[#FFBC10] flex justify-between p-3 bg-[#5F462B] items-center w-full ml-7 shadow-xl" (click)="addProduct(product.id)">
													Add To Cart
													<mat-icon>add</mat-icon>
												</button>
											</div> -->
										</div>
									</div>
									<!-- New Card Design Ends -->
								</div>
							</div>

							<mat-paginator
								[length]="Category.length"
								[pageSize]="pageLimit"
								[pageSizeOptions]="width <= 1024 && width > height ? [8, 16, 32, 64] : width > height && width > 1024 ? [8, 16, 32, 64] : [5, 10, 15, 30]"
								(page)="changePage($event, 'appetizers')"
								aria-label="Select page">
								<mat-spinner *ngIf="Category.length === 0"></mat-spinner>
							</mat-paginator>
						</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</section>
	<div class="hero" style="padding: 13px"></div>
</section>
